.homePageWrapper{
  color: white;
  height: 100vh;
  display: flex;
    align-items: center;
  justify-content: center;


}

.formwrapper{
  background-color: #282a36;
  padding: 20px ;
  border-radius: 10px;
  width: 400px; 
  max-width: 90%;


}

footer{
  position: fixed;
  bottom: 0;

}

.inputCode{
  display: flex;
  flex-direction: column;
}

.mainLabel{
  margin-bottom: 20px;
  margin-top: 0px;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #e5dfdf;
  font-weight: bold;

}

.btn{
  /* font-weight: bold; */
  /* margin-left: 0; */
  border-radius: 5px;
  margin: 10px;
  border: none;
  padding: 10px;
  border: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.inputBtn{
  
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  
}

.joinbtn{
  
  width: 110px;
  margin-left: auto;
  background: orangered;
}
.btn2{
  margin-left:15px ;
}

.joinbtn:hover{
  background: rgb(235, 159, 132);
}


.mainWrap{
  display: grid;
  height: 100vh;
  grid-template-columns:230px 1fr ;

}

.aside{
  background: #1c1e29;
  padding: 16px;
  color: #fff;
 
  display: flex;
  flex-direction: column;

}

.asideInner{
  flex: 1;
}


.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}


.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.userNmae{
  margin-top: 10px;
}


.logo{
  border-bottom: 1px solid rgb(201, 113, 18);
  padding-bottom:10px ;
}
.logoImage{
  height: 60px;

}

.leavebtn{
  /* margin-top: 20px; */
  background-color: orangered;

}
.leavebtn:hover{
  background: rgb(235, 159, 132);
}

.copybtn{

  background-color: orangered;

}

.copybtn:hover{
  background: rgb(235, 159, 132);
}

#realtimeEditor{
  min-width: 83vw;
  min-height:99vh;
  background-color: rgb(33, 32, 46);
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border-color:black;
  
}